@font-face { font-family: Dmsans;
    src: url(..\FONTS\DMSans-Regular.ttf);
   
}

html {
  min-height: 100%;
  background-image: url(../IMGS/oscarbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

body {font:'Dmsans';
font-size: 200%;
color: azure;

}

.moonlight {  text-align: left;
  position:fixed;
  left:100px;
  bottom:150px;
  height:30px;
  width: 100%;
  
  
}

.mposter { position: absolute;
  left: 50px;
  bottom: 200px;
  border-radius: 10px;
  border-style: groove;
  border-collapse: separate;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  

}
.poster1:hover .mposter {
  opacity: 0.3;
}
  

.parasite{ 
  text-align: left;
  position:fixed;
  left:400px;
  bottom: 150px;
  height:30px;
  width:100%;
  
  
  

}
.titanic{ text-align: right;
  position:fixed;
  left:-520px;
  top: 535px;
  bottom: 150px;
  height:30px;
  width:100%;
  
  

}
.lambs{ text-align: right;
  position:fixed;
  left:-60px;
  top: 535px;
  bottom: 150px;
  height:30px;
  width:100%;
  
  


}