<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/moonlight.css">
    <script src="../JS/moonlight.js"></script>
    <title>Moonlight by Barry Jenkis</title>
</head>

<body>
    <h3>Moonlight por Barry Jenkins</h3>
    <div class="gradient-border" id="box">
        <img src="..\IMGS\Moonlight.jpg" alt="Moonlight Character" class="isinopse">
    </div>


    <div class="sinopse">

        <p>Moonlight (Brasil: Moonlight: Sob a Luz do Luar/ Portugal: Moonlight ) é <br>um filme de drama estadunidense
            de
            2016 dirigido por Barry Jenkins e <br>escrito por Jenkins e Tarell Alvin McCraney, baseado na peça inédita
            <br>In
            Moonlight Black Boys Look Blue de McCraney.A produção é estrelada<br> por Trevante Rhodes, André Holland,
            Janelle Monáe, Ashton Sanders, Jharrel<br> Jerome, Naomie Harris e Mahershala Ali.
            <br>
            <br>O filme apresenta três etapas na vida de Chiron, o personagem principal, explo<br>rando as dificuldades
            que ele
            enfrenta no processo de reconhecimento de<br> sua própria identidade e sexualidade, e o abuso físico e
            emocional que
            recebe <br>ao longo destas transformações. Filmado em Miami, na Flórida, em 2015,<br> Moonlight estreou no
            Festival de
            Cinema de Telluride em 2 de setembro de 2016. <br>Distribuído pela A24, o filme foi lançado nos Estados
            Unidos em 21
            <br>de outubro de 2016 e arrecadou 28 milhões de dólares em todo o mundo.
        </p>
    </div>

    <div class="image1">

        <h2></h2>IN MOONLIGHT, ALL THE BOYS<BR> LOOK BLUE</h2>
    </div>
    <div class="image2">
        <h2 class="fu">You're my only <br> and <br> I'm your only</h2>

    </div>
    <div class="image3">
        <h2 class="fuu">You in the middle of the world</h2>

    </div>

    <div class="vari">
        <p>"Barry Jenkins' vital portrait of a South Florida youth revisits the character at three stages in his
            life,<br>
            offering rich insights into the contemporary African-American experience.</p>
        <div class="varilogo">
        </div>
    </div>
    <div class="nyt">
        <p>"Moonlight is both a disarmingly, at times almost unbearably
            personal film and an urgent social<br> document, a
            hard look at American reality and a poem written in light, music and vivid human faces.</p>
        <div class="nytlogo">
        </div>

        <div class="uklogo">
            <p>"You won't find a more sensitively rendered, evocative, or surprising<br> coming-of-age film than Barry
                Jenkins's Moonlight."</p>
        </div>
    </div>
    <div class="inde">

    </div>

    <h2 class="Comentario">Comentários por Leandro<br> e Anderson</h2>
    <p class="textjs">Com um elenco totalmente diferente dos pápeis usuais que Hollywood entrega a atores,<br> Moonlight de
        Barry Jenkins coloca
        o homem negro no centro da visão do mundo e de si<span id="dots">...</span><span id="more">, com todos os
            aspectos que um ser humano, em crescimento, tenha; cicatrizes<br>
            felicidades, reviravoltas, nostalgia e etc. A solidão do homem homossexual é bem retratada nos filmes
            atuais, mas nesse,<br>
            tem um espectro mais específico, o de um homem homossexual negro. O seu mundo que passa por três estágios de
            sua vida<br>
            até a sua maior maturidade, destaca o crescimento de qualquer ser humano como ser social. O que nos achamos
            desse filme, é<br>
            é de compartilhamento sobre os perigos de ser o gay de tudo e talvez o único. A retração da realidade de um
            jovem negro<br>
            que não sabe o que lhe pertence, mas os outros escolheram o que ele deveria fazer é o ponto essencial deste
            filme. Em uma<br>
            sociedade que relega papéis secundários ao negro e ao gay, tudo é na sombra, mas aqui, ele é a luz de seu
            mundo desvastador<br>
            .É ele que se movimenta para mudar tudo ao se redor, mas ainda, dependendo dos outros, como todo ser social.
            Nesse encontro<br>
            com um amor do passado, ele se reencontra com a sua criança passada que nunca pertenceu a nada e isto é
            incrivel. Além<br>
            de ter uma fotografia que interpassa com os sentimentos de seu personagem, a atuação brilhante dos atores
            nas três fases são<br>
            o que faz Moonlight seja aquilo tudo que Hollywood coloque em secundário, mas que em 2016, deu voz a
            este.</span></p>
    <button type="button" onclick="myFunction()" id="myBtn">Read more</button>









</html>