<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/parasite.css">
    <script src="../JS/parasite.js"></script>
    <title>Parasite by Bong Joon-ho</title>
</head>

<body>
    <h3>PARASITE BY BONG JOON-HO</h3>
    <div class="gradient-border" id="box">
        <img src="..\IMGS\parasite4.jpg" alt="Parasite Cast" class="isinopse">
    </div>


    <div class="sinopse">

        <p> Em Parasita, toda a família de Ki-taek está desempregada, vivendo num porão sujo<br> e apertado. Uma obra do
            acaso faz com que o filho adolescente da família comece<br>a dar aulas de inglês à garota de uma família
            rica.<br>
            Fascinados com a vida luxuosa destas pessoas, pai, mãe, filho e filha bolam um plano<br> para se infiltrarem
            também na família burguesa, um a um. No entanto, os segredos e mentiras<br> necessários à ascensão social
            custarão caro a todos.
            <br>
            <br>Gisaengchung teve a sua estreia mundial no Festival de Cannes de 2019, a 21 de maio,<br> onde ganhou a
            Palma de
            Ouro, tornando-se no primeiro filme sul-coreano a receber o<br> prestigiado prêmio assim como no mais
            recente
            filme a ganhar com o voto unânime<br> do jurado do festival, desde La vie d'Adèle em 2013. Foi também
            selecionado como o<br>filme representante da Coreia do Sul na categoria de Melhor Longa-Metragem
            <br>Internacional
            da 92.ª edição dos Óscares,tendo vencido nessa categoria, assim como nas<br> de Melhor Diretor, Melhor
            Roteiro Original e Melhor Filme, algo inédito<br> para um filme estrangeiro e em outro idioma.
        </p>
    </div>

    <div class="image1">

        <h2></h2><br>She’s nice,<BR> because she's rich</h2>
    </div>
    <div class="image2">
        <h2 class="fu"></h2>

    </div>
    <div class="image3">
        <h2 class="fuu"></h2>

    </div>

    <div class="vari">
        <p>"Barry Jenkins' vital portrait of a South Florida youth revisits the character at three stages in his
            life,<br>
            offering rich insights into the contemporary African-American experience.</p>
        <div class="varilogo">
        </div>
    </div>
    <div class="nyt">
        <p>"Bong has some ideas in "Parasite," but the movie's greatness isn't a matter of his<br> apparent ethics or
            ethos... but of how he delivers truths,<br> often perversely and without an iota of self-serving cant.</p>
        <div class="nytlogo">
        </div>

        <div class="uklogo">
            <p>"
                [Bong Joon-ho]'s work is as playful as it is sincere and revelatory. He'll make you feel at home, and
                then rip the rug out from under you.</p>
        </div>
    </div>
    <div class="inde">

    </div>

    <h2 class="Comentario">Comentários por Leandro<br> e Anderson</h2>
    <p class="textjs">Quem imaginaria que um filme estrangeiro totalmente em lingua externa <br>aos filmes padrões Hollywoodianos ganharia
        uma categoria principal como o Best Picture? <span id="dots">...</span><span id="more">,<br> Parasite provou que pode fazer tudo isto em 2019. Dirigido e escrito por uma
            brilhante mente chamada Bong Hoo,<br> este filme conta uma história de trapaceamento e guerra de classes que atrai a atenção
            até dos mais ricos.<br> O que nos achamos deste, em sua forma principal, a linha tênue entre topo e o fundo de tudo.<br> Estamos sempre em guerra, por mais que não seja explícito, seja por armas ou dinheiro, tudo é conquistado e este verbo implicita num conflito em que alguns ganham e outros perdem, não existe meios termos e isto Parasite acerta, retratando familias ricas e pobres numa constante guerra de poder que leva ao fim trágico pro lado mais fraco, o pobre. As atuações dos coreanos é um ponto a ser ressaltado, o lado sarcástico de todo mundo é um ponto chave no carisma destes caras e isto o que faz este plot ser mais interessante do que se parece. Por isso, Parasite mereceu 
            seus prêmios<br> com aplausos de 10 minutos, porque, para nós, meros mortais, vimo-nos nestes e isto é terrivelmente triste.
            </span></p>
    <button type="button" onclick="myFunction()" id="myBtn">Leia mais</button>

</body>

</html>