<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/titanic.css">
    <script src="../JS/titanic.js"></script>
    <title>Titanic by James Cameron</title>
</head>

<body>
    <h3>TITANIC POR DAVID CAMERON</h3>
    <div class="gradient-border" id="box">
        <img src="..\IMGS\titanic4.jpg" alt="Rose and Patrick" class="isinopse">
    </div>


    <div class="sinopse">

        <p> Em Parasita, toda a família de Ki-taek está desempregada, vivendo num porão sujo<br> e apertado. Uma obra do
            acaso faz com que o filho adolescente da família comece<br>a dar aulas de inglês à garota de uma família
            rica.<br>
            Fascinados com a vida luxuosa destas pessoas, pai, mãe, filho e filha bolam um plano<br> para se infiltrarem
            também na família burguesa, um a um. No entanto, os segredos e mentiras<br> necessários à ascensão social
            custarão caro a todos.
            <br>
            <br>Gisaengchung teve a sua estreia mundial no Festival de Cannes de 2019, a 21 de maio,<br> onde ganhou a
            Palma de
            Ouro, tornando-se no primeiro filme sul-coreano a receber o<br> prestigiado prêmio assim como no mais
            recente
            filme a ganhar com o voto unânime<br> do jurado do festival, desde La vie d'Adèle em 2013. Foi também
            selecionado como o<br>filme representante da Coreia do Sul na categoria de Melhor Longa-Metragem
            <br>Internacional
            da 92.ª edição dos Óscares,tendo vencido nessa categoria, assim como nas<br> de Melhor Diretor, Melhor
            Roteiro Original e Melhor Filme, algo inédito<br> para um filme estrangeiro e em outro idioma.
        </p>
    </div>

    <div class="image1">


    </div>
    <div class="image2">
        <h2 class="fu"></h2>

    </div>
    <div class="image3">
        <h2 class="fuu"></h2>

    </div>

    <div class="vari">
        <p>"A spectacular demonstration of what modern technology can contribute to dramatic storytelling"</p>
        <div class="varilogo">
        </div>
    </div>
    <div class="nyt">
        <p>"Cameron succeeds magically in linking his film's young lovers,<br> played enchantingly by Leonardo DiCaprio
            and Kate Winslet."</p>
        <div class="nytlogo">
        </div>

        <div class="uklogo">

        </div>
    </div>
    <div class="inde">

    </div>

    <h2 class="Comentario">Comentários por Leandro<br> e Anderson</h2>
    <p class="textjs">E se a Rose tivesse deixado Jack subido em cima de seu apoio no meio do mar? <br><span
            id="dots">...</span><span id="more"><br>Sempre nos perguntamos isso, mas talvez isto teria sido bom só para nós,
            porque vimos este belo filme ganhar o prêmio de Melhor Filme no Oscar de 1997.<br> Tendo uma bela direção de
            James Cameron, Titanic perpasseia por uma mistura do que deveria ter sido e do que realmente foi e isto é um
            belo retrato de como a vida é, temos desejos,<br> vontades que poderiam ter se tornado realidade, mas não foram
            aquilo que realmente queriamos<br> e o sentimento de que fizemos o que conseguimos não satisfaz esse ego. Além
            de ter atuações poderosas de Kate Winlest e Leonardo DiCaprio,<br> a direção de Titanic conseguiu capturar muito
            do que seu elenco elevava, a cena em que Jack está preso<br> e Rose vai salvá-lo é digna
            de atenção de qualquer pessoa,<br> instigando o sentimento de apreensão no telespectador que torce que Rose
            quebre a corrente o mais rápido possível e ambos tenham um happily after ending, porém não é isto o que
            aconte e está tudo<br>
            bem, porque não é isto que queremos no seu fim.<br> O que queremos e que foi bem proposto pelo filme, foram as
            singularidades retratadas pelo<br> personagem que apesar de serem diferentes, encontram-se e formam um
            sentimento do que chamamos de amor.<br> Esta palavra, na nossa opinião, não tem um significado certo que o
            capture, que o descreva,<br> porém quando é sentido, é o seu ser em si e ambos os personagem sentiram-no. Isto
            foi transmitido nos momentos finais e por isso que Titanic ganhou seu prêmio.
        </span></p>
    <button type="button" onclick="myFunction()" id="myBtn">Leia mais</button>

</body>

</html>