<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/tsol.css">
    <script src="../JS/tsol.js"></script>
    <title>The Silence of The Lambs by Jonathan Demme</title>

</head>

<body>
    <h3>O Silêncio dos Inocentes por Jonathan Demmer</h3>
    <div class="gradient-border" id="box">
        <img src="..\IMGS\tsol1.jpg" alt="Clarice and Hannibal" class="isinopse">
    </div>


    <div class="sinopse">

        <p> A agente do FBI, Clarice Starling (Jodie Foster) é ordenada a encontrar um assassino<br> que arranca a pele
            de
            suas vítimas. Para entender como ele pensa, ela procura o periogoso<br> psicopata, Hannibal Lecter (Anthony
            Hopkins),<br> encarcerado sob a acusação de canibalismo.
            <br>
            <br>O filme estreou no 41º Festival Internacional de Cinema de Berlim, onde competiu pelo<br> Urso de Ouro,
            enquanto
            Demme recebeu o Urso de Prata de Melhor Diretor. Aclamado<br> pela crítica após o lançamento, tornou-se
            apenas o
            terceiro filme (sendo os outros dois<br> Aconteceu naquela noite e Um Estranho no Ninho) na história do
            cinema a
            ser galardoado<br>com os prêmios Oscar nas cinco categorias principais: Melhor Filme, Melhor Diretor,<br>
            Melhor
            Ator, Melhor Atriz e Melhor Roteiro Adaptado; permanece, então, como o mais<br> recente e último filme a
            vencer
            tais categorias. Foi também o primeiro filme amplamente<br> considerado como um filme de terror a vencer o
            Oscar
            de Melhor Filme, e o terceiro<br> desse gênero a ser indicado, depois de O Exorcista (1973) e Tubarão
            (1975).
        </p>
    </div>

    <div class="image1">


    </div>
    <div class="image2">
        <h2 class="fu"></h2>

    </div>
    <div class="image3">
        <h2 class="fuu"></h2>

    </div>

    <div class="vari">
        <p>"The juiciest part is Hopkins,' and he makes the most of it.<br> Helped by some highly dramatic lighting,
            actor
            makes the role the personification of brilliant,<br> hypnotic evil, and the screen jolts with electricity
            whenever he is on..</p>
        <div class="varilogo">
        </div>
    </div>
    <div class="nyt">
        <p>"The Silence of the Lambs is pop film making of a high order.<br> It could well be the first big hit of the
            year</p>
        <div class="nytlogo">
        </div>

        <div class="uklogo">
            <p>
                "Liberal, conservative, gross, fastidious, sly, responsible,<br> feminist, sex-fearing, it is a
                particularly
                American compendium of impulses, a career breakthrough for Jonathan Demme that is also a Pyrrhic victory
                for
                his politics."</p>
        </div>
    </div>
    <div class="inde">

    </div>

    <h2 class="Comentario">Comentários por Leandro<br> e Anderson</h2>
    <p class="textjs">Lançado em 1991, The Silence of Lambs provou a Hollywood que filmes de <br>sobre investigação policial
        não são tanto
        clichês de ladrão e policia, <span id="dots">...</span><span id="more">,<br>transcedendo as linhas do puro suco
            hollywoodiano.<br> O que nos achamos desse filme foi a sua singularidade no tratamento
            em fisgar a atenção do telespectador,<br> aquele sentimento visualmente de preender a atenção de quem o assiste
            é muito
            presente nesse filme.<br> Sua história que envolve assasinos nas suas formas mais piores como altas,
            interlaçando com uma<br>
            trama policial faz com que a atenção do telespectador se torne uma chave especial no sucesso do filme. Quem
            não gosta<br>
            de uma história assim? Logicamente é a forma de seu sucesso.<br> Além disso, as atuações de Anthony Hopkins e
            Jodie Foster<br>
            como seus rivais são partes essenciais do espectro thriller desse filme que rendeu para ele e ela, o Oscar
            de Melhor Ator<br>
            em Papel Principal e Melhor Atriz em Papel Principal, respectivamente. A relação de apoio de um ao outro, no
            papel de Clarice<br>
            e Hannibal é um desenvolvimento mútuo que sem esta ligação, o filme poderia ter tido outros rumos para o
            clichê que<br>
            segue este gênero. Tudo em ressonância faz com que<br> The Silence Of The Lambs seja o vencedor do prêmio mais
            prestegiado
            de Hollywood.
        </span></p>
    <button type="button" onclick="myFunction()" id="myBtn">Leia mais</button>

</body>

</html>